.modal-dialog{
    overflow-y: initial !important;
}
.modal-body-400{
    height: 400px;
    overflow-y: auto;
}
.modal-body-600{
    height: 600px;
    overflow-y: auto;
}
.modal-lg{
    max-width:80%;
}
.wrapper{
    min-height: 100%;
    display: flex;
}
#diy-sidebar{
    width: 15%;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #384b77;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}
#diy-sidebar a{
    padding: 8px 0px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}
#diy-sidebar .sub1.active{
    background-color: #3287c1;
    padding: 0;
    margin: 0px 0px;
}
#diy-sidebar .sub{
    text-indent: 1px;
    left: 0;
    background-color: #384b77;
    overflow-x: hidden;
}
#diy-sidebar .sub .sub1{
    text-indent: 10px;
}
#diy-sidebar .sub .sub .sub1{
    text-indent: 20px;
}
#diy-sidebar a:hover{
    background-color:  #3287c1;
}


/*
 *  CONTENT STYLE
 */
#diy-content {
    width:85%;
    padding: 20px;
    min-height: 100%;
    transition: all 0.3s;
}

/*
 *  Login screen
 */
html, body {
        margin: auto;
        width: 100%;
        height: 100%;
        padding: 0;
} 
.login-block{
    /*background: #DE6262;   fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    height: 100%;
}
.row{
    height: 100%;
    margin-top: 10px;
}
.banner-sec{max-height:100%; border-radius: 0 0 0 0; padding:0;}
/*.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}*/

.login-sec{padding: 20px 50px 50px 50px ; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
/*.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}*/

.banner-text{width:70%; position:absolute; bottom:40px; padding-left:0px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.img-fluid{height: 100%}

/*
 *  Common function
 */

  

@media screen and (max-height: 450px) {
    #diy-sidebar {padding-top: 5px;}
    #diy-sidebar a {font-size: 11px;}
}