
/*-------
 * Modal Scrollbar
  -------*/
.modal-dialog{
    overflow-y: initial !important;
}
.modal-body-400{
    height: 400px;
    overflow-y: auto;
}
.modal-body-600{
    height: 600px;
    overflow-y: auto;
}
.modal-lg{
    max-width:80%;
}

/*-------
 * NAV CSS 
 --------*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#diy-sidebar a, #diy-sidebar a:hover, #diy-sidebar a:focus {
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
}

#diy-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #000;
    transition: all 0.3s;
    
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
#diy-sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#diy-sidebar ul li a {
    padding: 5px;
    margin: 5px;
    font-size: 1.0em;
    display: block;
}

#diy-sidebar ul li a:hover {
    color: #000;
    background: rgb(48, 120, 255);
}

#diy-sidebar li.active  {
    color: #000;
    background: #007bff;
}
a[data-toggle="collapse"] {
    position: relative;
}

/*a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}*/

#diy-sidebar ul ul a {
    font-size: 0.9em !important;
}
#diy-sidebar ul ul ul a {
    font-size: 0.9em !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#diy-content {
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Login screen
----------------------------------------------------- */
html, body {
        margin: auto;
        width: 97%;
        height: 100%;
        padding: 20px 0 0 0;
} 
.login-block{
    /*background: #DE6262;   fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
}
.row{
    height: 100%;
}
/*.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom; background-size:cover; min-height:100%; border-radius: 0 0 0 0; padding:0;}*/
/*.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}*/

.login-sec{padding: 0 0 20px 30px ; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:0px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}